$black: #000;
$white: #fff;

$dark-pink: #f18bc3; //squares
$medium-pink: #f2e9ff; // squares
$light-pink: #f8f3ff; //body

$dark-purple: #8e43ed; //squares text trash
$medium-purple: #aa7ecd; //squares text
$regular-purple: #d9bbff; // border
$light-purple: #e0cff8; //squares

$dark-grey: #303030; //text
$medium-grey: #9f9f9f; //text
$regular-grey: #afafaf; // size
$light-grey: #ded9e4; //button

$light-violet: #9993bd; //button

$regular-green: #3dd73a;
$light-green: #e1fee8;

$error: red;

$main-font-size: 16px;

@mixin input-border {
  border-radius: 12px;
  border: 1px solid $dark-purple;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin transition {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$less-desktop-width: 1439px;
$desktop-width: 1440px;
